<nav class="navbar navbar-expand-md border-bottom bg-body-light sticky-top">
    <div class="container-fluid">
        <!-- Brand Icon -->
        <a class="navbar-brand" href="/listings">
            <i class="fa-solid fa-suitcase-rolling main-logo"></i>
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Content -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
            <!-- Left Side Links -->
            <div class="navbar-nav">
                <a class="nav-link" href="/listings">Explore</a>
                <a class="nav-link" href="/listings/new">Home</a>
            </div>

            <!-- Right Side Auth Links -->
           <div class="navbar-nav">
  <% if (!currentUser) { %>
    <a class="nav-link" href="/signup"><b>SignUp</b></a>
    <% if (currentPath !== '/login') { %>
      <a class="nav-link" href="/login"><b>Login</b></a>
    <% } %>
  <% } else { %>
    <a class="nav-link" href="/logout"><b>Logout</b></a>
  <% } %>
</div>
        </div>
    </div>
</nav>
