<nav class="navbar navbar-expand-md border-bottom bg-body-light sticky-top">
    <div class="container-fluid">
        <!-- Brand Icon -->
        <a class="navbar-brand" href="/listings">
            <i class="fa-solid fa-suitcase-rolling main-logo"></i> <span style="font-family:  Plus Jakarta Sans, sans-serif; font-weight: bold;">Yatra Vibe</span>
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Content -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!-- Left Side Links -->
            <div class="navbar-nav me-auto">
                <a class="nav-link" href="/listings">Explore</a>
                <% if (currentUser && currentUser.constructor.modelName === 'User') { %>
                    <a class="nav-link" href="/listings/new"> Home</a>
                <% } %>
            </div>

            <!-- Search Bar - Only on /listings index page -->
            <% if(currentUser && currentPath === '/listings'){ %>
            <form class="d-flex mx-auto my-2 my-md-0 search-form" action="/listings/search" method="GET">
                <div class="input-group">
                    <input class="form-control" type="search" name="q" 
                        placeholder="Search destinations" 
                        aria-label="Search" 
                        value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>">
                    <button class="btn btn-dark" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
            <% } %>

            <!-- Right Side Auth Links -->
            <div class="navbar-nav ms-auto">
                <% if (!currentUser) { %>
                    <a class="nav-link" href="/customer/signup"><b>Customer SignUp</b></a>
                    <a class="nav-link" href="/signup"><b>Admin SignUp</b></a>
                    <% if (currentPath !== '/login' && currentPath !== '/customer/login') { %>
                        <a class="nav-link" href="/customer/login"><b>Customer Login</b></a>
                        <a class="nav-link" href="/login"><b>Admin Login</b></a>
                    <% } %>
                <% } else { %>
                    <a class="nav-link" href="/logout"><b>Logout</b></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
